input{
    display: block;
    margin: 5px;
}
.col{
    flex-grow: 1;
    margin-right: 10px;
}
.row{
    display: flex;
}

button{
    background-color: black;
    border-radius: 5px;
    border: opx;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
}